

@media screen and (max-width: 965px)
{


  .grid{
      margin: auto;
      padding: 1%;
      grid-template-columns: 1fr ;
      grid-template-rows:  .1fr .1fr .1fr .1fr;
      
  }

  #Bloodborne
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  .1fr .1fr .1fr;
  grid-template-areas: "i1"
                       "t1"
                       "c1";
  gap: 1em;
  justify-items: center;
  align-items: center;
}

#Vampire_Survivors
{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: .1fr .1fr .1fr;
  grid-template-areas: "i2"
                       "t2"
                       "c";
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

#Disco
{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-areas: "i3"
                       "t3"
                       "c3";
  gap: .1em;
  justify-items: center;
  align-items: center;
}

p{
  max-width: 15cm;
}

#vsrunConjunto{
margin-left: 8%;
}

}


@media screen and (max-width: 705px){
 
  .nav_link{
    margin: auto;
    position: fixed;
    inset: 0%;
    flex-direction: row;
    padding:15rem;
    line-height: 3rem;
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(1rem);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }
  .nav_link li a{
    font-size: 18px;
    max-width: 2cm;
    color:black;
}
.nav_link[data-visible="true"]{
  transform: translateX(0%);
}

  .mobile_nav{
    display: block;
    position: fixed;
    background-color: transparent;
    background-image: url('img/menu.svg');
    background-repeat: no-repeat;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
    top: 1rem;
    right: 2rem;
    z-index:  9999;
  }


    p
    {
        max-width: 18cm;
    }
    h2
    {
        font-size: 1.5rem;
    }
    iframe
    {
        width: 400px;
    }
    .imgsize 
    {
        width: 70%; 
    }
    .gLogo
    {
        width: 70%;
    }
    #vsrunConjunto{
        margin-left: 25%;
        }

}

@media screen and (max-width: 533px){
 
  .nav_link{
    padding:10rem;
  }
}