@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
   
}
body{
    background: linear-gradient(270deg, #04001d 0%, #001a79 19%, #e25822 75%, #e3ab57 100%); 
    max-width: 1280px;
    min-height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    overflow-x: hidden;
}
li, a{
    text-decoration:none;
    font-weight: 500;
}


h1, h2, h3
{
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin: 2%;
    color: 	#a00202; 
    text-decoration:underline;
    letter-spacing: 2px;
}
h2, h3{
    font-size: 1.5rem;
}
h3{
    color:#800000; 
}

p{
    max-width: 30cm;
}

.imgsize
{
  max-width: 100%;
}


.textLink{
    color:#e10d0d; 
}
.textLink:hover{
    color: #800000; 
}

.grid{
    text-align: justify;
    padding: 1em;
    margin: auto;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr ;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    grid-template-areas: "h"
                         "s"
                         "a"
                         "f";
    gap: .6em;
    
}

/*header*/
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: h;
    border-style:none;
}

.logo{
    margin: 1%;
    max-width: 100%;
    width: 9%;
    margin-right: auto;
}
.mobile_nav{
    display: none;
}
.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a{
    transition: all .3s ease-in-out 0s;
    color: #E5E4E2;
}



.nav_link li a:hover{
    color:  #800000;
}

section{
    background: rgb(84,71,92);
    background: linear-gradient(312deg, rgb(104, 80, 118) 0%, rgba(131,110,143,1) 55%, rgb(166, 128, 190) 100%);
    grid-area: s;
    box-sizing: border-box;
    padding: 1em;
    text-align:justify;
    border-style:solid;
    border-color: rgba(131,110,143,1) ;    
    color: #E5E4E2;

}


#Bloodborne
{

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows:  .1fr 1fr;
    grid-template-areas: "i1 t1"
                         "c1 c1";
    row-gap: 1em;
}


.gLogo1{
    grid-area: i1; 
    max-width: 100%;
}

.text1{
    margin-left:1rem ;
    grid-area: t1;
}
#conteudoBB{
   
    grid-area: c1;
    flex-direction: column;
    gap: 20px;
}


#Vampire_Survivors
{
    display: grid;
    grid-template-columns:1fr 0.2fr;
    grid-template-rows: .2fr .2fr;
    grid-template-areas: "t2 i2"
                         "c c";
    gap: 1em;
    
}

.gLogo2{
    grid-area: i2;
    max-width: 100%;
    
}
.text2{
    margin-right:1em;
    grid-area:t2;
    height: min-content;
}

#conteudoVs{
    grid-area: c;
    flex-direction: column;
    gap: 20px;
    
}

#vsrunConjunto{

    display: flex;
    flex-direction: row;
    gap: 5px;

    }


#Disco
{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.2fr 0.2fr;
    grid-template-areas: "i3 t3"
                         "c3 c3";
    gap: .2em;
}

.gLogo3{
    grid-area: i3;
    max-width: 100%;
}
.text3{
    margin-top:2%;
    margin-left:2%;
    grid-area:t3;
    height: fit-content;
}
#conteudo{
    grid-area: c3;
    flex-direction: column;
    gap: 20px;
    
}

.imgContainer{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: content;
}


aside{
    background: #54475c;
    background: linear-gradient(312deg, rgba(84,71,92,1) 0%, rgba(131,110,143,1) 55%, rgba(212,179,232,1) 100%);
    grid-area: a;
    border-style:solid;
    border-color: rgba(131,110,143,1);
    border-radius: 5px;
    padding: 1.5%;
    margin: 1.5%;
    text-align: center;
    color: #E8EDDF;
    
}

footer{
    grid-area: f;
    color: #E8EDDF;
    text-align: center;
    border-style:none;
  }
